:root {
  --clr-6: rgb(17, 3, 82);
  --clr-1: #05386B;
  --clr-2: #379683;
  --clr-3: #5CDB95;
  --clr-4: #8EE4AF;
  --clr-5: #EDF5E1;
  
}

body {
  background-color: var(--clr-3);
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--clr-3);
  border-bottom: 2px solid var(--clr-1);
  box-shadow: 0px 5px 5px -5px var(--clr-1);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  width: 100%;
}

svg {
  width: 100px;
  height: 20px;
  margin-right: 20px;
}

path {
  fill: var(--clr-1);
}

.main-nav {
  color: var(--clr-1);

  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo img {
  width: 350px;
  height: 50px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  background-color: var(--clr-4);
}

.cta {
  background-color: var(--clr-1);

  color: var(--clr-3);

  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 0px 50px 0px 50px;
  transition: background-color 0.1s ease-in-out;

  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 1px 5px 2px var(--clr-6);
}

.cta:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

main {
  padding: 40px;
  text-align: center;
  color: var(--clr-5);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--clr-4);

  padding: 20px;
  text-align: center;
}